@{
    ViewData["Title"] = "Gridlist";
}
@model IEnumerable<Test.Models.Person>
@using GridMvc



<h2>@ViewData["Title"]</h2>

<div>
    <form asp-action="Edit" style="margin-bottom:20px; float: left;">
        <button type="submit" class="btn btn-primary">
            Create a new Person
        </button>
    </form>

    <form asp-action="SearchGrid" style="margin-bottom: 20px; float: right;">
        @Html.TextBox("search")
        <button type="submit" class="btn btn-primary">
            Search
        </button>
        <button asp-action="Grid" class="btn btn-primary">
            Show all
        </button>
    </form>
</div>


<div>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(m => m.Id).Titled("ID");
    columns.Add(m => m.Firstname).Titled("Firstname");
    columns.Add(m => m.Lastname).Titled("Name");
    columns.Add(m => m.isCompany).Titled("Employee");
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => Html.ActionLink("Edit", "Edit", new { id = m.Id }, new { @class = "btn btn-warning" }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => Html.ActionLink("Delete", "Delete", new { id = m.Id }, new { @class = "btn btn-danger" }));
}).WithPaging(10).Filterable(true).Sortable(true)
</div>


